:root {
  --method-head-color: blue;
}

body {
  font: normal 12px/17px Verdana, Arial, sans-serif;
  overflow: hidden;
}

#navigation {
  position: fixed;
  overflow-y: auto;
  top: 2em;
  bottom: 0;
}

.container {
  position: absolute;
  inset: 0;
  top: 1rem;
  overflow-y: auto;

  .docBrowser {
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    padding-bottom: 12vh;
  }
}

#navigation, .docs {
  scrollbar-width: none; /* Firefox */
}

#navigation::-webkit-scrollbar, .docs::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

code:not([class*='language-']) b.comment {
  color: #999;
}

.docs {
  left: 7vw;
  padding-bottom: 100rem;
  padding-left: 1rem;
  margin-left: 135px;
}

.docs.loading:before {
  content: "Loading ...";
  font-size: 3rem;
  font-weight: bold;
  color: red;
  display: block;
  margin-top: 2rem;
  z-index: 5;
}

.param {
  margin-bottom: 0.3rem;
}

.navGroup {
  cursor: pointer;
  margin-left: -1.2rem;
  margin-block-start: 0.5em;
}

ul.navGroup.closed li.grouped {
  list-style: '\25BC';
}

ul.navGroup li.grouped {
  padding-left: 0.2rem;
  list-style: '\25b2';
  color: brown;
}

ul.navGroup.closed li ul.navGroupItems {
  display: none;
}

ul.navGroup li:not(.grouped) {
  list-style: none;
  padding-left: 0.2rem;
  margin-left: -2rem;
}

.jqlTitle {
  color: green;
}

.jqlTitle b {
  color: red;
}

.selected {
  color: blue;
  font-weight: bolder;
}

ul.navGroupItems li {
  color: #777;
}

[data-key] {
  color: #777;
}

[data-key]:hover {
  background-color: #eee;
}

[data-groupcontainer] {
  padding: 1.5rem 1rem 1rem;
  box-shadow: 2px 2px 6px #999;
  border-radius: 5px;
  max-width: 96%;
  margin-top: 3rem;
}

.linkLike {
  margin: 0;
  color: blue;
  display: inline-block;

  code.inline {
    color: blue;
    cursor: pointer;
    display: inline-block;
  }

  &:hover, .inline:hover {
    text-decoration: underline;
  }
}

.methodName {
  margin: 1.5rem 0 0.5rem 0;
  color: var(--method-head-color);
  font-size: 1.2rem;
  font-family: "Courier New", serif;
  cursor: pointer;
  background-color: #eee;
  padding: 3px;
  border: 1px solid #999;
  text-align: center;
}

.deprecated {
  color: #AAA;
}

[data-navitem].deprecated {
  color: rgba(191, 20, 20, 0.6);
}

.methodName span.group {
  color: #777;
}

.exRunBttn[disabled] {
  background-color: buttonface;
  border-width: 1px;
}

.groupHeader {
  min-width: 100px;
  max-width: 200px;
  text-align: center;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 auto -3rem auto;
  position: relative;
  top: -3rem;
}

.groupHeader:first-child {
  margin-top: 1em;
}

.groupHeader:not(:first-child) {
  margin-top: 2rem;
}


.returnValue, .description:not([data-groupcontainer]) {
  margin-top: 0.6rem;
}

.description {
  line-height: 1.5em;
}

.description div:not(.linkLike):not(.exContainer) {
  margin: 0.6em 0 0.4em 0;
}

.description .template {
  display: none;
}

.description ul {
  margin: 0 0 auto -1.2rem;
}

.description ul ul {
  margin: 0 0 auto -1.2rem;
}

.description ul ul li {
  list-style: '\2714';
  margin-left: -0.7rem;
  vertical-align: top;
}

.description ul li {
  list-style: '\2705';
  padding-left: 0.2em;
  vertical-align: top;
  line-height: 1.7em;
}

.description ul li div:not(.linkLike) {
  margin-top: 0.3rem !important;
  margin-bottom: 0.2rem !important;
}

.example {
  margin-left: 0.5rem;
  margin-bottom: -0.2rem;
  width: 100%;
}

[data-groupcontainer] .description div.exContainer,
.paragraph .description div.exContainer {
  white-space: revert;
  width: 96%;
}

.exRunBttn {
  position: relative;
  display: block;
  margin: -0.8rem 0 1rem 1rem;
}

code:not([class*='language-']) {
  background-color: rgb(227, 230, 232);
  color: rgb(12, 13, 14);
  padding: 2px 4px;
  display: inline;
  border-radius: 4px;
  margin: 1px 0;

  b {
    color: red;
  }
}

.red, .note b {
  color: red;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a[target]:before {
  color: rgba(0, 0, 238, 0.7);
  font-size: 1.1rem;
  padding-right: 2px;
  vertical-align: baseline;
}

a[target="_top"]:before {
  content: "↺";
}

a[target="_blank"]:before {
  content: "↗";
}

img.gitLink {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  vertical-align: middle;
}

@media (max-width: 2200px) {
  .docs {
    max-width: 65vw;
    left: 10vw;
  }
}

@media (max-width: 1440px) {
  .docs {
    max-width: 86vw;
    left: 10vw;
  }

  [data-groupcontainer]:first-child {
    margin-top: 1rem;
  }

  [data-groupcontainer] {
    max-width: 92%;
  }

  h3.methodName {
    max-width: 95%;
  }

  .description div:not(.linkLike, .exContainer) {
    max-width: 90%;
  }
}

@media (max-width: 1024px) {
  .docs {
    left: 16vw;
    max-width: 80vw;
  }
}

@media (max-width: 800px) {
  .docs {
    left: 24vw;
    max-width: 70vw;
  }
}