[submodule "LifeCSS"]
	path = LifeCSS
	url = https://github.com/KooiInc/LifeCSS.git
	branch = main
[submodule "typeofAnything"]
	path = typeofAnything
	url = https://github.com/KooiInc/typeofAnything.git
	branch = main
[submodule "tinyDOM"]
	path = tinyDOM
	url = git@github.com:KooiInc/tinyDOM.git
	branch = main
