/.idea/*
/.github/*
/node_modules/*
build.cmd
buildJQ.js
/buildx.cmd
/runDocumenter.cmd
/JQLcompile.js
/buildCommitAndPushDocs.cmd
/package-lock.json
/working-source/*
/unDocumentAndBuild.js
/startDocumenter.cmd
/lib/JQLBundle.js.map