/.idea/*
/node_modules/*
build.cmd
buildJQ.js
/buildx.cmd
/runDocumenter.cmd
/JQLcompile.js
/buildCommitAndPushDocs.cmd
/package-lock.json
/src_with_documentation/*
/unDocumentAndBuild.js
/startDocumenter.cmd
/lib/JQLBundle.js.map